:root {
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
}

.container {
    flex: 0 1 60vw;
}

.picture {
    flex: 0 1 40vw;
    height: 100vh;
    width: 40vw;
}

form > p {
    display: flex;
    flex-direction: column;
}

.image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

input {
    width: 15vw;
}